body {
  font-family: 'SolaimanLipi', sans-serif;
}

a {
  text-decoration: none;
  color: #333;
}

a:hover {
  color: green;
}

.footer-link {
  color: #ccc;
  text-decoration: none;
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
}

.footer-link:hover {
  color: #fff;
  padding-left: 5px;
  transition: 0.3s;
}
